@import url('https://fonts.googleapis.com/css?family=Lato:300|Oswald');

*{
	margin: 0;
	padding: 0;
	border: 0; 
}

nav ul {
    list-style: none;
    background-color: white;
    text-align: center;
    padding: 0;
    margin: 5px;
}

nav li {
    font-size: 1.2em;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    margin: 5px;
    padding-left: 75px;
}

nav a {
    text-decoration: none;
    display: block;
}

#profile-background {
    height: 300px;
	width: 100%;
	background-color: darkblue;
}

#profile-box {
	width: 500px;
	height: 250px;
    top: 50px;
    margin: 0 auto;

	background-color:white;
    position: relative;
}

#picture {
	right: 0px;
	width: 250px;
	height: 250px;
	background-image: url("https://nicholasspriggs.weebly.com/uploads/7/9/7/8/79787400/screen-shot-2020-11-01-at-6-14-10-pm_orig.png");
	background-size: cover;
	position: absolute;
}

#bio {
	width: 250px;
	height: 300px;
	position: absolute;
	color: darkblue;
	text-align: center;
}

#bio h1 {
	font-size: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
}

#bio h2 {
	font-size: 25px;
	padding-top: 4px ;
	padding-bottom: 4px;
}

#bio h3 {
	font-size: 25px;
}

#bio h4 {
	font-size: 11px;
}

#social-media {
	width: 500px;
	height: 60px;
	bottom: -60px;

	background-color: darkblue;
    position: absolute;
}

.social-media-button {
    height: 60px;
	width: 125px;
    float: left;
}

#social-media i {
    font-size: 160%;
	margin: 1%;
	padding-left: 40%;
	padding-top: 12%;
	color:white;
}

#social-media div:hover{
	background-color: dodgerblue;
}

#about-me {
	width: 600px;
	height: 250px;
    margin: 0 auto;

}

#about-me h1{
	font-family: Lato;
	font-size: 250%;
	text-align: center;
	padding-bottom: 12px;
    padding-top: 100px;
}

#about-me h2{
	font-family: Lato;
}